* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/fon_darck.jpg);
}

.carusel {
    margin: 150px auto;
    width: 80%; 
    max-width: 1280px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px #000;

    position: relative;
}

.but_prev,
.but_next {
    width: 30px;
    height: 60px;

    background-color: #dddddd;
    opacity: 0.8;
    border: 1px solid #000;
    border-radius: 6px;
    background-image: url(../images/strelka.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    top: calc(50% - 30px);
}

.but_prev {
    left: 0;
    margin-left: 2%;
    transform: rotate(180deg);
}

.but_next {  
    right: 0;
    margin-right: 2%;
}

.carusel_list {
    overflow: hidden;
    display: flex;
    list-style: none;
    padding: 2% 0;
    margin: 0 6%;
    
}

.carusel_item,
.carusel img,
.carusel a {
    max-height: 200px;
}

.carusel_item:not(:last-child) {
    margin-right: 10px;
}

.carusel a {
    display: inline-block;
}

.carusel img {
    box-shadow: 1px 2px 4px #111;
}

@media (max-width: 768px) {

    .carusel {
        width: 100%;
    }

    .but_prev,
    .but_next {
        width: 20px;
        opacity: 0.6;
    }

    .carusel_list {
        margin: 0 2%;
    }

    .carusel_item,
    .carusel img,
    .carusel a {
        max-height: 100px;
    }

}